<div class="contanier content">
    <div class="row">
        <div class="col-sm-6">
            Hello
        </div>
        <div class="col-sm-6">
            World
        </div>
    </div>
</div>
